<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated flowChartDebugger -->
      <package
            uri="http://www.example.org/flowChartDebugger"
            class="flowChartDebugger.FlowChartDebuggerPackage"
            genModel="model/flowChartDebugger.genmodel"/>
   </extension>

</plugin>
